In [2]:
import pandas as pd

In [14]:
df1=pd.read_csv("File1.csv")
df2=pd.read_csv("File2.csv")
df3=pd.read_csv("File3.csv")
df1.columns=['id','marks']
df2.columns=['id','marks']
df3.columns=['id','marks']
df1.drop_duplicates(subset=['id'], keep='last',inplace=True)
df2.drop_duplicates(subset=['id'],keep='last',inplace=True)
df3.drop_duplicates(subset=['id'],keep='last',inplace=True)

In [23]:
(df1.columns)

Index(['id', 'marks'], dtype='object')

In [13]:
df1=pd.read_csv("File1.csv")
df2=pd.read_csv("File2.csv")
df3=pd.read_csv("File3.csv")
df1.columns=['id','marks']
df2.columns=['id','marks']
df3.columns=['id','marks']
df1.drop_duplicates(subset=['id'], keep='last',inplace=True)
df2.drop_duplicates(subset=['id'],keep='last',inplace=True)
df3.drop_duplicates(subset=['id'],keep='last',inplace=True)

dfs = [df.set_index(['id']) for df in [df1, df2, df3]]
dfs = pd.concat(dfs, axis=1).reset_index()
dfs.fillna(value=0)

df2.reset_index(inplace=True)
df2.drop("index",axis=1,inplace=True)
df2.fillna(value=0)
df4=df2
# df4.drop(:,inplace=True)
mydf=[]
#      (df1.iloc[i]).to_csv("testing.csv",mode='a',header=False,index=False)
for i in range(0,len(df2)):
    try:
     df4['marks'][i]=pd.to_numeric(df2['marks'][i])
    except:
     print(df2.iloc[i])
     print(type(df2['marks'][i]))
     mydf.append(df2.iloc[i])   
     df2.drop(i,inplace=True)

id       101853035
marks          f16
Name: 2, dtype: object
<class 'str'>
id       101803284
marks          125
Name: 4, dtype: object
<class 'str'>
id       101803408
marks          120
Name: 9, dtype: object
<class 'str'>
id       101803561
marks          143
Name: 16, dtype: object
<class 'str'>
id       101803613
marks          130
Name: 18, dtype: object
<class 'str'>
id       101803100
marks          142
Name: 33, dtype: object
<class 'str'>
id       101803650
marks          144
Name: 42, dtype: object
<class 'str'>
id       101816012
marks          124
Name: 44, dtype: object
<class 'str'>
id       101803544
marks          128
Name: 156, dtype: object
<class 'str'>
id       101803469
marks           f6
Name: 227, dtype: object
<class 'str'>
id       101803683
marks          134
Name: 237, dtype: object
<class 'str'>
id       101803637
marks          129
Name: 298, dtype: object
<class 'str'>
id       101803206
marks           f7
Name: 300, dtype: object
<class 'str'>
id       101983041
marks          134
Name: 313, dtype: object
<class 'str'>
id       101853028
marks          150
Name: 320, dtype: object
<class 'str'>

C:\Users\Avinash jindal\anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

IndexError: single positional indexer is out-of-bounds

In [308]:
mydf=pd.DataFrame(mydf)
mydf['filename']='file1'
mydf

            id marks filename
0    101803206   c12    file1
8    101803473    43    file1
22   101803102    10    file1
34   101803543    37    file1
36   101803103   NaN    file1
57   101803589    46    file1
73   101803504    42    file1
89   101803290    49    file1
111  101803281    10    file1
143  101803192    14    file1
152  101803010    11    file1
197  101983029    24    file1
216  101803728    45    file1
260  101866015    27    file1
275  101853014    14    file1
279  101803549    21    file1
290  101803141    47    file1
305  101866009    42    file1
319  101816011    11    file1

In [274]:
fake['marks'].isnull().value_counts()

False    315
True      54
Name: marks, dtype: int64

In [293]:
# type(df1['marks'][2])
fake=pd.to_numeric(df1['marks'][1])

In [313]:
# fake
df1

             id marks
1     101853003    28
2     101803184    11
3     101983047    31
4     101803440    26
5     101803674    14
..          ...   ...
346  1018031175    29
347   101803529    19
348   101803561    15
349   101803259    17
350   101803650    40

[332 rows x 2 columns]