In [1]:
import pandas as pd
import sys

Total files are -> 2

In [161]:

dframes=[]

for p in sys.argv[1:]:
    dframes.append(pd.read_csv(p))

In [162]:
for df in dframes:
    df.columns=['id','marks']
    df.drop_duplicates(subset=['id'], keep='last',inplace=True)
    df.reset_index(inplace=True)
    df.drop("index",axis=1,inplace=True)
    df['marks'].fillna(value=0,inplace=True)

In [163]:
mydf=[]

for j in range(0,len(dframes)):
    for i in range(0,len(dframes[j])):
        try:
             dframes[j]['marks'][i]=pd.to_numeric( dframes[j]['marks'][i])
        except: 
             mydf.append([dframes[j].loc[i,'id'],dframes[j].loc[i,'marks'],"File" + str(j+1)])
             dframes[j].drop(i,inplace=True)

C:\Users\Avinash jindal\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [164]:
mydf=pd.DataFrame(mydf)
mydf.columns=['id','marks','Filename']
mydf.to_csv("log.csv",mode='a',header=True,index=False)
# myfile=pd.DataFrame(myfile)
# mydf=pd.concat([mydf,myfile],axis=1)

           id marks Filename
0   101803206   c12    File1
1   101803095   c15    File1
2   101816034   c13    File1
3   101803013    c9    File1
4   101803595    c3    File1
5   101803472    c8    File1
6   101803670    c5    File1
7   101803469   c11    File1
8   101803690   c17    File1
9   101803273    c6    File1
10  101816041   c16    File1
11  101803064    c7    File1
12  101803020   c19    File1
13  101803644   c14    File1
14  101803706   c18    File1
15  101803691   c10    File1
16  101803614    c1    File1
17  101983033    c4    File1
18  101803611    c2    File1
19  101853035   f16    File2
20  101803020   f10    File2
21  101803691   f14    File2
22  101803472    f3    File2
23  101803019   f12    File2
24  101803273    f1    File2
25  101983033    f2    File2
26  101803002   f11    File2
27  101803013    f4    File2
28  101803614   f17    File2
29  101803469    f6    File2
30  101803064    f5    File2
31  101803170   f15    File2
32  101803206    f7    File2
33  101803644    f8    File2
34  101803690    f9    File2
35  101803064    ss    File3
36  101803103    rr    File3
37  101803614    cc    File3
38  101803190    ff    File3
39  101803273    tt    File3
40  101803095    tt    File3

In [165]:
dfs = [df.set_index(['id']) for df in dframes]
dfs = pd.concat(dfs, axis=1).reset_index()
dfs.fillna(value=0,inplace=True)

In [168]:
dfs.isnull()

        id  marks  marks  marks
0    False  False  False  False
1    False  False  False  False
2    False  False  False  False
3    False  False  False  False
4    False  False  False  False
..     ...    ...    ...    ...
361  False  False  False  False
362  False  False  False  False
363  False  False  False  False
364  False  False  False  False
365  False  False  False  False

[366 rows x 4 columns]